
h1 {
    color: #c977d4;
    text-align: center;
    font-size: 40px ;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #9c25ac;
    text-align: center;
    font-size: 2rem;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #881b5a;
   
}

a {
    color: #e2d414;
    text-decoration: none;
}
li {
    margin-bottom: 5px;
    color: #690640;
}

p {
    color: #2205c7;
    font-size: 14px;
    line-height: 1.5;
}